.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

ul.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1b1b;
}
li.NavBarItem {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #424040;
}